# Making a CMD for your Star Cluster

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv("oh_table.csv")

In [4]:
df.head()

,row_id,tgas_source_id,name,ra,dec,parallax,distance,G,J,rave_obs_id,rv,erv,group_id,group_size
0,659,49809491645958528,TYC 1253-388-1,59.457281,18.562195,7.7395,129.949,11.160,9.984,NaN,NaN,NaN,0,151
1,1559,66939848447027584,TYC 1804-1924-1,57.070387,25.214932,7.6087,132.557,9.066,8.137,20120109_0346p23_140,2.95,1.6,0,151
2,1904,50905051903831680,HIP 18091,58.003444,19.596690,6.7611,148.752,10.265,9.267,NaN,NaN,NaN,0,151
3,1929,51452746133437696,HIP 18544,59.507154,20.676596,7.6989,131.839,9.249,8.436,NaN,NaN,NaN,0,151
4,1944,51619115986889472,TYC 1261-1630-1,58.370320,20.907178,7.4847,134.194,11.553,10.096,NaN,NaN,NaN,0,151

In [5]:
G = df["G"] #this allows us to index this list! Each group will use their group id
J = df["J"]
d = star_data["distance"]

NameError: name 'star_data' is not defined

In [ ]:
#for parallax, d=1/p because 1 is in AU, and absolute mag is absG = G - 5 log d + 5
absG = G - 5*np.log10(d) + 5

In [ ]:
cm = plt.cm.get_cmap("hot_r")
plt.scatter(G-J, absG, c=G-J, cmap=cm)
plt.ylim([-2,10])
plt.xlim([-0.5, 2.5])
plt.gca().invert_yaxis()
plt.xlabel('Color (G-J)')
plt.ylabel('Absolute Magnitude (G)')
plt.title('Color Magnitude Diagram')
plt.show()

#### Next, add a second plot that adds the sun to your plot with a * marker.
Note: To show both plots on the same figure, you'll need to move the plt.show() command to the end of the code for the second plot.

#### Finished? Find the color and absolute magnitude of the sun and the average color and absolute magnitude for your cluster.

In [ ]:
star_data = pd.read_csv("oh_table.csv")
star_data.head()

In [ ]:
SunJ = 3.64
SunG = 5.12
cm = plt.cm.get_cmap("hot_r")
plt.scatter(G-J, absG, c=G-J, cmap=cm)
plt.scatter(SunG - SunJ, SunG, marker = "*", c = "yellow", edgecolor = "black", s = 300)
plt.ylim([-3,11])
plt.xlim([-0.5, 3])
plt.gca().invert_yaxis()
plt.xlabel('Color (G-J)')
plt.ylabel('Absolute Magnitude (G)')
plt.title('Color Magnitude Diagram')
plt.show()

In [ ]:
brown_dwarf = pd.read_csv("bdnyc_sampledata.csv")
brown_dwarf.head()

In [ ]:
disbd = 1 / brown_dwarf["parallax"]
Gbd = brown_dwarf["G"]
Jbd = brown_dwarf["J"]
absGbd = Gbd - 5*np.log10(disbd) + 5

In [ ]:
SunJ = 3.64
SunG = 5.12
cm2 = plt.cm.get_cmap("gnuplot2_r")
cm = plt.cm.get_cmap("YlGnBu_r")
plt.scatter(Gbd-Jbd, absGbd, c = Gbd - Jbd, cmap = cm2, s = 20)
plt.scatter(G-J, absG, c=G-J, cmap = cm, s = 20)
plt.scatter(SunG - SunJ, SunG, marker = "*", c = "yellow", edgecolor = "black", s = 300)
plt.gca().invert_yaxis()
plt.xlabel('Color (G-J)')
plt.ylabel('Absolute Magnitude (G)')
plt.title('Color Magnitude Diagram')
plt.show()

In [ ]:
comboG = star_data["G"].append(brown_dwarf["G"])
comboJ = star_data["J"].append(brown_dwarf["J"])
comboG_J = comboG - comboJ
G_J = G - J
combodis = star_data["distance"].append(disbd)
comboGbd = comboG - 5*np.log10(combodis) + 5

In [ ]:
SunJ = 3.64
SunG = 5.12
cm = plt.cm.get_cmap("Spectral_r")
plt.scatter(comboG_J, comboGbd, c = comboG_J, cmap = cm, s = 20)
plt.scatter(SunG - SunJ, SunG, marker = "*", c = "yellow", edgecolor = "black", s = 300)
plt.gca().invert_yaxis()
plt.xlabel('Color (G-J)')
plt.ylabel('Absolute Magnitude (G)')
plt.title('Color Magnitude Diagram')
plt.savefig("Plots/Color_Magnitude_Diagram.png")
plt.show()